@import 'tailwindcss';

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: -0.01em;
}

a {
  color: inherit;
}

mat-card {
  border-radius: 1rem !important;
}
